stages:
  - build-frontend
  - build-backend

variables:
  CACHE_NPM_PATH: webapp/node_modules/
  CACHE_MAVEN_PATH: backend/UserService/.m2/repository

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - $CACHE_NPM_PATH
    - $CACHE_MAVEN_PATH

build-frontend:
  image: node:20
  stage: build-frontend
  script:
    - cd webapp
    - npm ci --include=dev
    - npx ng version
    - npx ng build --configuration production --optimization=false
  artifacts:
    paths:
      - webapp/dist/

build-backend:
  image: maven:3.9.6-eclipse-temurin-21
  stage: build-backend
  script:
    - cd backend/UserService/
    - mvn clean install
  artifacts:
    paths:
      - backend/UserService/target/
