stages:
  - build-frontend
  - build-backend
  - docker-deploy

variables:
  CACHE_NPM_PATH: webapp/node_modules/
  CACHE_MAVEN_PATH: .m2/repository
  DOCKER_TLS_CERTDIR: ""

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - $CACHE_NPM_PATH
    - $CACHE_MAVEN_PATH

############################
# Frontend Build
############################
build-frontend:
  image: node:20
  stage: build-frontend
  script:
    - cd webapp
    - npm ci --include=dev
    - npx ng version
    - npx ng build --configuration production --optimization=false
  artifacts:
    paths:
      - webapp/dist/

############################
# Backend Build - Auth Service
############################
build-auth-service:
  image: maven:3.9.6-eclipse-temurin-21
  stage: build-backend
  script:
    - cd backend/auth-service
    - mvn clean install
  artifacts:
    paths:
      - backend/auth-service/target/

############################
# Backend Build - User Service
############################
build-user-service:
  image: maven:3.9.6-eclipse-temurin-21
  stage: build-backend
  script:
    - cd backend/user-service
    - mvn clean install
  artifacts:
    paths:
      - backend/user-service/target/

############################
# Docker Build & Push
############################
docker-deploy:
  image: docker:25
  stage: docker-deploy
  services:
    - docker:25-dind
  needs:
    - build-frontend
    - build-auth-service
    - build-user-service
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    # Frontend Docker Image
    - docker build -t $CI_REGISTRY_IMAGE/frontend:latest webapp
    - docker push $CI_REGISTRY_IMAGE/frontend:latest

    # Auth Service Docker Image
    - docker build -t $CI_REGISTRY_IMAGE/auth-service:latest backend/auth-service
    - docker push $CI_REGISTRY_IMAGE/auth-service:latest

    # User Service Docker Image
    - docker build -t $CI_REGISTRY_IMAGE/user-service:latest backend/user-service
    - docker push $CI_REGISTRY_IMAGE/user-service:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
