# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

############################################
# OS / Editor
############################################
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

.idea/
.vscode/
*.iml
.project
.classpath
.settings/
.editorconfig

############################################
# Angular / Node
############################################
node_modules/
dist/
dist-*/
out-tsc/
.tmp/
.angular/
.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Angular environment files
############################################
src/environments/environment*.ts

############################################
# Java (Maven / Gradle)
############################################
target/
build/
.gradle/
.mvn/
*.class
*.jar
*.war
*.ear

############################################
# Spring Boot
############################################
application-local.yml
application-dev.yml
application-prod.yml
*.pid

############################################
# Test / Coverage
############################################
coverage/
*.lcov

############################################
# Temp
############################################
tmp/
temp/
