server:
  port: 9091

spring:
  application:
    name: Auth-Service

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
#  security:
#    user:
#      name: admin
#      password: admin123

  thymeleaf:
    check-template-location: false

  datasource:
    # 1. Use 'DB_HOST' env var if available, otherwise use 'localhost'
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:indian_food_db}
    # 2. Use 'DB_USERNAME' env var if available, otherwise use 'indian_food_restro'
    username: ${DB_USERNAME:indian_food_restro}
    # 3. Use 'DB_PASSWORD' env var if available, otherwise use 'indian_food_restro'
    password: ${DB_PASSWORD:indian_food_restro}
    
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      connection-timeout: 20000
      max-lifetime: 1800000
      pool-name: HikariPool-Auth

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      # Use 'create-drop' in CI/CD to ensure clean tests, 'update' locally
      ddl-auto: ${HIBERNATE_DDL_AUTO:update}
    show-sql: true
    open-in-view: false    
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true